
/* ====== CONTEXT MENU ======== */


#contextMenu, #contextMenu > *{
    padding: 0;
    margin: 0;
}
#contextMenu{
position: absolute;
width: 200px;
height: 12s0px;
background-color: whitesmoke;
padding: 10px 0 10px 0;
border-radius: 1px;
display: none;
}
.menuList{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
height: 100%;
align-items: center;
}
.menuList li{
width: 100%;
list-style: none;
background-color: whitesmoke;
}.menuList li:hover{
background-color: black;
cursor: pointer !important;
}.menuList li:hover a{
cursor: pointer !important;
}

.menuList li a{
color: crimson;
}
