@font-face {
    font-family: "basis33";
    src: url(/assets/fonts/basis33.ttf);
}
@font-face {
    font-family: "erbos";
    src: url(/assets/fonts/ErbosDracoRegular.ttf);
}
@font-face {
    font-family: "ponde";
    src: url(/assets/fonts/ponderosa.ttf);
}


.noSeshWarning {
    width: 70%;
    height: 300px;
    margin: 50px auto 0 auto;
}

.noSeshWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.noSeshWrapper h1{
    color: crimson;
    text-align: center;
    font-size: 44pt;
    font-family: "basis33";
}
.noSeshWrapper p{
    text-align: center;
    font-size: 32pt;
    font-family: "basis33";
}