

.users__main{
    width: 100%;
    min-height: 200px;
    height: fit-content;
    /* background-color: rgba(0, 0, 255, 0.4); */
}

.users__wrapper{
    width: 95%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 50px auto 0 auto;
}

.users__sect{
    width: 100%;
    margin: 15px 0 15px 0;
    min-height: 120px;
    height: fit-content;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;

}


.users__group{width: 100%; background-color: #9fabad; border-radius: 3px; padding-top: 6px;}
.users__group p{
    padding: 2px 18px;
    color: whitesmoke;
    font-size: 26pt;
}
.users__list{
    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
    height: fit-content;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.159);
}

.users__card{
    margin: 10px 35px 30px 35px;
    width: 420px;
    height: 190px;
    /* background-color: red; */
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 3px;
}
.users__card__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.users__card__logo{
    width: fit-content;
    height: 100%;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.users__pic img{width: 100%; height: 100%; border-radius: 50%;}
.users__pic{
    width: 100px;
    height: 100px;
    margin: 5px auto auto auto;
    align-self: center;
}
.users__role{
    width: fit-content;
    height: fit-content;
    font-size: 1.2em;
}
.users__nickname{
    width: fit-content;
    height: fit-content;
    font-size: 1.3rem;
}

.users__card__info{
    padding: 5px 0 5px 0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.users__status p{font-size: 1.1em; padding-right: 4px;}
.users__status{
    align-self: flex-end;
    width: 100%;
    height: 100%;
}

.users__panel{width: 100%; height: 51px; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;}
.users__panel a{margin: 0 auto 0 auto;}
.users__panel a img{width: 30px; height: 30px;}